@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}
h1 {
  font-size: 36px;
}
p {
  line-height: 1.5;
  font-size: 16px;
}
a{
    text-decoration: none;
}
li {
  list-style-type: none;
}
.flex_1 {
  flex: 1;
}
.flex {
  display: flex;
}
.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.container {
  padding: 50px 0;
}
.section_title {
  margin-bottom: 20px;
}
.text_purple {
  color: #6030b1;
}

section:nth-child(even) {
  background-color: #f8f8f8;
}
/*NAVIGATION BAR*/

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_link_list {
  display: flex;
}
.nav_link_anchor {
  margin: 0 12px;
  color: #242424;
  font-weight: 700;
}
.nav_link_anchor_primary {
  background-color: #6030b1;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}
.nav_link_anchor_primary:hover {
  background-color: #5d3eff;
}
.personal_logo {
  font-size: 24px;
  color: #6030b1;
  margin: 0 12px;
  font-weight: bold;
}

/* ABOUT ME */

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about_me_info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.about_me_info {
  display: flex;
  flex-direction: column;
}

.about_me_pic_mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
  margin-bottom: 28px;
}

.about_me_img {
  width: 100%;
  transform: scale(1);
}
.about_me_info_title {
  margin-bottom: 16px;
}
.about_me_info_para {
  font-size: 20px;
  margin-bottom: 28px;
}
.about_me_link {
  font-size: 20px;
  color: #6030b1;
  padding: 0 16px;
}
.about_me_img-container {
  flex: 1;
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.about_me_pic {
  width: 100%;
}

/* TECH STACK */

.language_img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms;
}
.language_img:hover {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}
.language:hover .language_image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}
.language {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  position: relative;
}
.language_list {
  display: flex;
  width: 100%;
}
.language_name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}
.language:hover .language_name {
  transform: scale(1);
  opacity: 1;
}

/* PROJECTS */
.project{
    margin-bottom: 135px;
}
.project:last-child{
    margin-bottom: 40px;
}
.project_img {
  width: 100%;
  transition: all 500ms ease;
}
.project_wrapper {
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  position: relative;
}
.project_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2;
}
.project:hover .project_wrapper:before {
  opacity: 0.7;
}
.project:hover .project_img {
  transform: scale(1.07);
  filter: blur(5px);
}
.project_list {
  padding-top: 40px;
}
.project_desc {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition:transform 450ms, opacity 300ms;
  
}
.project:hover .project_desc{
    opacity: 1;
    transform: translateY(-50%);
}
.project_desc_para{
    z-index: 0;
}
.project_desc_title{
    font-size: 40px;
}
.project_desc_para{
    margin: 16px 0;
}
.project_desc_link{
    font-size: 20px;
    margin-right: 16px;
}
.project_desc_title,
.project_desc_subtitle,
.project_desc_para,
.project_desc_link {
  text-align: left;
  color: #fff;
}

/* FOOTER */

footer{
    background-color: #242424;
}
.footer_row{
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_social_link,
.footer_copyright{
    color: #fff;
}
.footer_personal_logo{
font-size: 24px;
  color: #fff;
  margin-bottom: 28px;
  font-weight: bold;
}
.footer_social_list{
    margin-bottom: 28px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
}